name: MLOPS CI - tests & lint

on:
  push:
    branches: [ develop ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v6.0.1
    
    - name: Set up Python
      uses: actions/setup-python@v6.1.0
      with:
        python-version: '3.13'
        
    - name: Cache pip
      uses: actions/cache@v5.0.0
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        
    - name: Install deps
      run: pip install -r requirements.txt
      
    # - name: Lint
    #   run: |
    #     pip install flake8
    #     flake8 src tests || true
        
    # - name: Unit tests
    #   run: |
    #     pip install -r requirements.txt
    #     pytest -q
