name: Data pipeline (ingest -> preprocess -> dvc push)

on:
  push:
    branches: [ main ]
    paths:
      - 'pre-processing/**'
      - 'requirements.txt'

  workflow_dispatch:
  # schedule:
  #   - cron: '0 * * * *'   # hourly ingest (example)
permissions:
  contents: read
  id-token: write

jobs:
  ingest_preprocess:
    runs-on: ubuntu-latest
    env:
      s3: ${{ secrets.S3_DVC_REMOTE }}
    steps:
    
    - uses: actions/checkout@v6.0.1
    
    - name: Setup python
      uses: actions/setup-python@v6.1.0
      with: 
        python-version: '3.13'
        
    #Connect AWS account with OIDC Provider
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        aws-region: us-east-1
        role-to-assume: arn:aws:iam::805702559038:role/Github_Actions_EKS_Repo

    - name: Cache pip
      uses: actions/cache@v5.0.0
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

    - name: Install deps
      run: pip install -r requirements.txt
        
    - name: Run preprocessing
      run: python pre-processing/preprocess.py
      
